@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import './reset';
@import './variables.scss';
body{
  font-family:'Montserrat', sans-serif;

}

// section 1
  
.container{
// width:320px;
height: 718px;
margin-left: auto;
margin-right: auto;

}

.header{

  height: 103px;
  background: #27262A;;
  @media (min-width: 1200px){
    background: none;
  }
}

.header__elements{
  justify-content: space-between;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 34px;

}

.header__text{
padding-top: 11px;
text-align: center;
}

.header__button{
  
  color: white;
  width: 119px;
  @media (min-width: 481px){
    width: 145px;
  }
  height: 37px;
  border-radius: 40px;
  background: #8D81AC;
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 15px;
}
.header__burger{
  height: 24px;
  width: 24px;
  background-color:  #27262A;;
  display: block;
  position: relative;
}
.header__burger span {
  position: absolute;
  background-color: #fff;
		left: 0;
		width: 100%;
		height: 2px;
		top: 12px;
		transition: all 0.3s ease 0s;

}
.header__burger:before,
	.header__burger:after{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before{
		top: 0;
	}
	.header__burger:after{
		bottom: 0;
	}

	.header__burger.active span{
		transform: scale(0);
	}
  .header__burger.active:before{
		transform:rotate(45deg);
		top: 11px;
	}
	.header__burger.active:after{
		transform:rotate(-45deg);
		bottom: 11px;
	}


	.header__menu.active{
    position: absolute;
	   display:block;
     margin-top: 28px;
     z-index: 100;
 
	}

	.header__list {
    background: #333333;
    width: 292px;
    height: 352px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
   line-height: 26px;
   margin-left: 13px;
  
	}
  .header__link{
    padding-top: 45px;
    padding-left: 34px;
    padding-right: 34px;
    color:  #FFFFFF;
  }
  .header__link:hover{
    border-left: 4px solid #8D81AC;
    color: #8D81AC;

  }
 .header__span{
   color: #8D81AC;
   text-transform: uppercase;
   font-size: 24px;
line-height: 16px;
margin-top: 15px;
margin-left: 5px;
@media (max-width: 400px){
  display: none;
}
 }
.header__menu{
  display: none;
  @media (min-width:940px){
    width: fit-content;
    position: absolute;
    top: 25px;
right: 250px;
  }
  @media (min-width: 540px){
  
      display: block;
     
  }

}
.bacground__picture{
  height:615px;
  background-image: url(../img/pictureone.png);
  @media (min-width: 770px){
    background-image: url(/src/img/picturetwopng.png);
  }
  @media (min-width: 481px) and (max-width: 769px){
   
      margin-top: 20px;
      width: auto;
      height:672px;
      background-image: url(../img/imgfff2.png);


  }
}
.header__info{
color:#FFFFFF ;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 48px;

text-align: center;
 padding-top: 50px;

}
.header__info__first{
  max-width: 300px;
  color: #8D81AC;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
margin-left: auto;
margin-right: auto;
text-align: center;
 padding-top: 19px;
  @media (min-width: 768px){
    max-width: 600px;
  }
}
.header__info__second{
color: #848E97;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
text-align: center;
padding-top: 14px;
}
.button__down{
  display: flex;
  width: 290px;
  height: 45px;
background: #8D81AC;
border-radius: 40px;
margin-left: auto;
margin-right: auto;
margin-top: 400px;
@media (min-width:481px){
  margin-top: 450px;
}
@media (min-width:770px){
  margin-top: 420px;
}
}
.batton__down__link{
  align-content: center;
  align-items: center;
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
color: #FFFFFF;
padding-left: 35px;
margin-top: 10px;

}

  .wrap{
    position: relative;
  }

// Section 4
.section__wraper{
  background-image: url(../img/bgfour.jpg);
background-size: cover;
padding-bottom: 10px;
@media (max-width:770px){
  height: 1631px;
}
margin-left: auto;
margin-right: auto;


}
.section__text{
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  padding-top: 57px;
  color: #FFFFFF;
  text-align: center;
  @media (min-width: 768px){
 height: 41px;
   line-height: 44px;
   font-size: 42px;
  }

}
.logo__wraper{
  @media (min-width:768px){
    display: grid;
    grid-template-columns: repeat(2,2fr);
  }
  @media (min-width: 1200px){
    grid-template-columns: repeat(3,2fr);
  }
}
.logo__blok{
  margin-top: 53px;
  text-align: center;
}
.logo__blok:nth-of-type(4){
  @media (min-width:768px) and (max-width:1199px){
    margin-top: 90px;
  }
}
.smashing__text{
font-family: Lato;
font-style: italic;
font-weight: bold;
font-size: 16px;
line-height: 24px;
 color:  #FFFFFF;
 padding-top: 19px;
}
.section_button_text{
  text-align: center;
  margin-top: 30px;
  margin-left: 34px;
  margin-right: 34px;

  color: #A291A5;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;

}
//////
.page__body{
  color: $main-color;
}

.github-buttons-container{
width: fit-content;
  margin: 13px auto 0 auto;
  @media (max: width 320px){
display: grid;
  }
}
.revo{
  margin-right: auto;
  margin-left: auto;
}
.revo__header{
  color: $accent-color;
  font-weight: bold;
font-size: 54px;
line-height: 54px;
text-align: center;
margin-bottom: 35px;
@media (max-width:720px) {
  font-size: 42px;
}
@media (max-width: 320px){
font-size: 26px;
line-height: 28px;
}
}

.revo__text{
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 32px;
  text-align: center;
  max-width: 814px;
  margin: 0 auto;
  @media (max-width: 768px) and (min-width:320px){
     max-width: 689px;
 
  }
  @media (max-width: 320px){
     max-width: 276px  ;
font-size: 14px;
line-height: 20px;
  }
}
.revo__container{

  padding: 0 40px 0 40px;
 @media (max-width:768px){
     padding-bottom: 70px;
     padding-top: 100px;
  }
  @media (min-width:540px){
    margin-top: 50px  ;
  }
  @media (min-width: 769px){
    margin-top: 200px;
  }
  @media (min-width: 1200px){
    padding-bottom: 50px;
  }
}
.here{
  background-color:  #F4F4F4;
  padding-top: 100px;
  padding-bottom: 30px;
  position: relative;
  @media (max-width:1200px){
     background-color: #fff;
  }
  
.here__header{

  color: #8D81AC;
  font-style: normal;
font-weight: bold;
@media (min-width: 1039px){
  font-size: 48px;
line-height: 50px;
width: fit-content;
margin-left: auto;
margin-right: 60px;
}
@media (max-width: 1039px){
  font-size: 42px;
line-height: 44px;
text-align: center;
margin-bottom: 50px;
}
}
.here__list{
  padding-left: 90px;
  @media (max-width: 1260px){
     padding-left: 0;
  }
  display: grid;
  grid-template-areas: 
  "a f"
  "b e"
  "c e"
  "d e";
  @media (max-width: 1038px) and (min-width: 348px){
     display: list-item;
     padding-left: 30px;
  }
  @media (max-width: 347px){
     display: list-item;
  }
}
.here__list__item{
  max-width: 536px;
  display: grid;
   grid-template-areas:
"a b"
"a c";

@media (max-width: 730px) and (min-width: 620px){
  max-width: 600px;
  display: list-item;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 621px){
  max-width: 270px;
  display: list-item;
  margin-left: auto;
  margin-right: auto;
}
}
.text__container2{
  padding-left: 15px;
  @media (max-width: 730px){
    padding: 0;
  }
  
}
.text__container3{
  padding-left: 40px;
  @media (max-width: 730px){
     padding: 0;
   }
}
.text__container4{
  padding-left: 25px;
  @media (max-width: 730px){
     padding: 0;
   }
}
.here__icon{
  grid-area: a;
  @media (max-width: 730px){
     display: block;
     margin: 36px auto 27px auto;
  }
}
.here__header__desc{
  grid-area: b;
  font-size: 16px;
line-height: 21px;
@media (max-width: 730px){
  text-align: center;
}
}
.here__header__text{
  grid-area: c;
  color: $light-color;
  font-size: 14px;
line-height: 21px;
width: 390.89px;
height: 77px;
@media (max-width: 1039px) and (min-width: 731px){
  width: 588px;
  height: 50px;
}
@media (max-width: 730px) and (min-width:621px){
  display: block;
  margin-left: auto;
  margin-right: auto;
text-align: center;
width: 600px;
height: 100px;
}
@media (max-width: 640px){
  text-align: center;
  width: 269px;
  height: 81px;
}
}
#second-child{
grid-area: a;
}
#third-child{
  margin-top: 40px;
  grid-area: b;
}
#fourth-child{
  grid-area: c;
  margin-top: 40px;
}
#fifth-child{
  grid-area: d;
  margin-top: 40px;
}
#sixth-child{
  grid-area: e;
  margin-left: auto;
  margin-right: 0;
  @media (max-width: 1039px){
     margin-top: 70px;
  }
  @media (max-width: 640px){
     padding: 0;
     max-width: 320px;
   }
}
.here__autro__img{
  max-width: 600px;
  max-height: 400px;
 
 display: block;

 @media (max-width: 730px){
    margin-left: auto;
 max-width: 320px;
 max-height: 381px;
}
}
#first-child{
  grid-area: f;
}}
.sub{
  padding-top: 83px;
background-image: url(/src/img/Layer2.png);
background-size: cover;
background-position: top -250px left 10px;
  padding-bottom: 97px;
  position: relative;
}
.sub__header{
  text-align: center;
  color: white;
  font-weight: bold;
font-size: 48px;
line-height: 50px;
@media (max-width:1080px){
  margin-bottom: 39px;
}
@media (max-width: 380px){
  width: 320px;
  height: 69px;
  font-size: 28px;
line-height: 42px;
display: block;
margin-left: auto;
margin-right: auto;
}
}
.sub__list{
  
  display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 50px;
@media (max-width: 1080px){
  display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 25px;
grid-row-gap: 0px;
max-width: 560px;
margin-left: auto;
margin-right: auto;
}
@media (max-width: 648px){
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 554px){
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;

}
@media (min-width: 1380px){
  padding-left: 133px;
padding-right: 133px;
}
}
.sub__list__item{
     // display: flex;
     // justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.397);
  padding-bottom: 36px;
  width: 257px;
  height: 460px;
  margin-top: 112px;
  @media (max-width: 1080px){
     margin-top: 0;
  }
  @media (max-width: 554px){
     margin-left: auto;
     margin-right: auto;
     margin-top: 18px;
  }
}

.spec__item{
  background: rgba(70, 48, 72, 0.411);
mix-blend-mode: normal;
opacity: 0.84;
z-index: 1;
  margin-top: 51px;
  padding-bottom: 47px;
  width: 299px;
height: 560px;
@media (max-width: 1080px){
  margin-top: -40px;
margin-left: -40px;
}
@media (max-width: 554px){
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
}
}
.spec{
  margin-left: auto;
  @media (max-width: 1080px){
     margin-left: 0;
     
  }
  @media (max-width: 554px){
     margin-left: auto;
     margin-right: auto;
  }
}
.sub__list__header{
 
  color: white;
  font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;
text-transform: uppercase;
text-align: center;


}

.sub__list__box{
  background:   rgba(255, 255, 255, 0.445);

display: flex;
width: 257px;
height: 97px;
justify-content: center;
align-items: center;

}
.spec__box{
  width: 299px;
  height: 111px;
  background-color: rgba(70, 48, 72, 1);
mix-blend-mode: normal;

}
.sub__list__price{
  margin-top: 30px;
  text-align: center;
  font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 90px;
color: white;
}
.spec__price{
  font-size: 82px;
line-height: 90px;
}
.sub__list__text{
  font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
text-align: center;
color: white;
text-transform: uppercase;
margin-top: 20px;
}
.sub__list__accent__line{
  width: 60px;
height: 5px;
background: #8D81AC;
border: none;
margin-top: 38px;
margin-bottom: 30px;
}
.spec__line{
  margin-top: 46px;
  margin-bottom: 40px;
}
.sub__list__desc{
  font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
color: white;
text-align: center;
margin-bottom: 62px;
height: 32px;
}
.spec__desc{
  margin-bottom: 83px;
}
.sub__list_purch{
  font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 15px;
text-align: center;
text-transform: uppercase;
width: fit-content;
color: #FFFFFF;
padding: 15px 38px 15px 38px;
border: 1px solid white ;
border-radius: 40px;
display: block;
margin-left: auto;
margin-right: auto;
}
.button__down__text{
  font-size: 14px;
line-height: 16px;
/* or 114% */

margin-top: 18px;
text-align: center;

color: #848E97;

}
@import './mixin.scss';
.header {
  @media (min-width: 940px){
    background-color: #000;
  
  }
}
